<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/lib/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lib/daterangepicker.css' %}">
	{% block css_load %}{% endblock %}
<style>
	.axis text {
		text-anchor: middle;
		fill: #444;
		stroke: #444;
		stroke-width: 0.1;
		alignment-baseline: middle;
	}
	.axis path,
	.axis line {
		fill: #777;
		stroke: #777;
		shape-rendering: crispEdges;
		stroke-width: 0.1;
	}
	.axis path {
  		display: none;
	}
	.svg-content {	padding: 10px;}
	.background rect { fill: #EEEEEE; }
</style>
</head>
<body>
<div id="container">
	{% block content %}
	{% endblock %}
</div>
</body>
{% block js_load %}
	<script src="{% static 'js/lib/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'js/lib/d3.min.js' %}"></script>
	<script src="{% static 'js/lib/moment.min.js' %}"></script>
	<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/lib/daterangepicker.js' %}"></script>
	<script src="{% static 'js/plentific.js' %}"></script>
{% endblock %}
{% block scripts %}{% endblock %}
</html>