{% extends 'base.html' %}
	{% block content %}
		<div class="controls row" class="col-md-12">
			<div class="col-md-4">
				<label for="dates">Select postcode
				<input id="postcode" list="codes" name="postcode" value="N1 7JQ" class="form-control" placeholder="Post Code" type="text"/></label>
				<datalist id="codes">
				</datalist>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<button id="search" class="btn btn-primary">Search</button>
			</div>
			<div class="col-md-2 col-md-offset-2">
				<label for="dates">Pick a range of dates
				<input name="dates" id="dates"class="form-control" type="datetime"/></label>
			</div>
		</div>

		<div class="svg-container row" id="price_brackets_container" class="col-md-12"></div>
		<div class="svg-container row" id="property_types_container" class="col-md-12"></div>
	{% endblock %}

{% block js_load %}
	{{ block.super }}
	{% load static %}
		<script src="{% static 'js/graphs/price_brackets.js' %}"></script>
		<script src="{% static 'js/graphs/property_types.js' %}"></script>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		let priceGraph, typesGraph;
		// maybe use Promise if we need to chain more
		plentific.ajax.get('/date_limits', function (e, dates) {
			if (e) throw e;
			let startD 	= dates.date_limits[0],
				endD	= dates.date_limits[1];
			let postCode = 'N1 7JQ';
{#			PE29 1WX#}
			$('#dates').daterangepicker({
				locale: {
					format: 'YYYY-MM-DD'
				},
				startDate: startD,
				endDate: endD,
				maxDate:endD,
				minDate:startD,
			}, (start, end, label) => {
				startD = start.format(plentific.date.format);
				endD = end.format(plentific.date.format)
			});
			plentific.ajax.get(`/properties?from=${startD}&to=${endD}&postcode=${postCode}`, function(error, data){
				if(error) throw error;
				if (data.length === 0)
					plentific.view.showMessage('No data. Pick other range or postcode');
				priceGraph = new PriceBracketsView('#price_brackets_container', data);
				priceGraph.call();
				typesGraph = new PropertyTypesView('#property_types_container', data);
				typesGraph.call();
			});

			$('#search').click(function() {
				let $b = $(this);
				$b.attr('disabled', 'disabled').html('Please wait');
				let postCode = $('#postcode').val().toUpperCase();
				plentific.ajax.get(`/properties?from=${startD}&to=${endD}&postcode=${postCode}`, function(error, data){
					if(error) throw error;
					if (data.length === 0)
						plentific.view.showMessage('No data. Pick other range or postcode');
					priceGraph.updateDataset(data);
					typesGraph.updateDataset(data);
					$b.attr('disabled', false).html('Search');
				});
			});

			$('#postcode').on('change', function() {
				let v = $(this).val().toUpperCase();
				if(v.length >= 3) {
					plentific.ajax.get(`/postcode/${v}/`, function(e, d){
						$('#codes').html('');
						d.forEach((d) => $('#codes').append(`<option>${d}</option>`))
					})
				}
			})
		});
	})
</script>
{% endblock %}