{% extends 'base.html' %}

{% block js_load %}
	{{ block.super }}
	{% load static %}
		<script src="{% static 'js/graphs/price_brackets.js' %}"></script>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		plentific.ajax.get('/date_limits', function (e, dates) {
			if (e) throw e;
			console.log(dates)
			plentific.ajax.get('/properties?from=1995-01-01&to=2012-01-01&postcode=CB21 4UH', function(error, data){
				if(error) throw error;
				let graph = new PriceBracketsView('#price_brackets_container', data);
				graph.call()
			})
		})
	})
</script>
{% endblock %}